/node_modules
/vendor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.hot-update.*
/assets/css/app.css
/assets/js/app.js
/assets/css/app.css.map
/assets/js/app.js.map
/mix-manifest.json
fix-dates.sh
AMELIORATIONS-WP.md
